archive/
build/
nbproject/private/
docs/sample/LRMix.ldb
/dist/
/LRDyNAmix.properties
/src/nl/minvenj/nfi/lrdynamix/report/jasper/defaultreport/LRDyNAmix.jasper
testfiles/**/LRDynamix-*.pdf
testfiles/*.pdf
testfiles/**/reports/*.pdf
testfiles/**/*.log
/LRDyNAmix-ManualBuild.zip
/LRDyNAmix.log.1
/LRDyNAmix.log.0
/LRDyNAmix.log.0.lck
/LRDyNAmix.log.3
/LRDyNAmix.log.2
/src/nl/minvenj/nfi/lrdynamix/gui/resources/DNA.svg
!/nbproject/build-impl.xml
.jacocoverage
super secret case
/installer/LRDyNAmix/installers/
/LRmixStudio-Build-ManualBuild.zip
/LRmixStudio.properties
/LRmixStudio.log
/redirects.properties
/docs/**/logs/
/docs/**/reports/
/target/
/src/test/resources/testfiles/ngm_sgm/logs/*.log
/.classpath
/.project
/.settings/*.prefs
src/test/resources/**/*.log
src/test/resources/**/*.pdf
